body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #102c57;
}

.container {
  background-color: #ffff;
  max-width: 400px;
  margin: 90px auto;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 9px 8px rgba(128, 128, 128, 0.9);
}
.container h1 {
  font-width: bold;
}
#label_input {
  display: block;
  margin-bottom: 10px;
}
#nameInput {
  border: none;
  border-bottom: 2px solid #00ffff;
  outline: none;
  padding: 9px;
  width: 200px;
}
#btn {
  background-color: #102c57;
  border-radius: 9px;
  color: white;
  padding: 9px 18px;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px;
  cursor: pointer;
}
